.page-block-wrapper {
    max-width: 100vw;
}

.page-block {
    width: 100%;
    padding-top: 30px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

.page-block-full {
    min-height: 100vh;
}

.page-block-odd {
    background-color: var(--color-bg-1);
}

.page-block-even {
    background-color: var(--color-bg-2);
}

@media screen and (min-width: 1500px) {
    .page-block {
        max-width: 1500px;
        width: 1500px;
        margin: 0 auto;

        gap: var(--space-6);
    }
}
