.navigation {
    height: 100%;
    max-width: 1500px;
}

.header-links {
    list-style-type: none;
    margin: 0;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;

    height: 100%;
}

.header-links li {
    padding: 0;
    margin: 0;
}

.header-links a {
    color: var(--color-bg-3);
    text-decoration: none;
}

.header-links a:hover {
    color: var(--color-bg-1);
}
