@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 10.1961%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 10.1961%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 10.1961%;
  --primary: 0 55.6485% 46.8627%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 0% 100%;
  --secondary-foreground: 39.7403 100% 30.1961%;
  --muted: 0 0% 100%;
  --muted-foreground: 36 5.0505% 38.8235%;
  --accent: 0 0% 100%;
  --accent-foreground: 0 62.5668% 36.6667%;
  --destructive: 0 70.3704% 42.3529%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 100%;
  --input: 0 0% 100%;
  --ring: 0 55.6485% 46.8627%;
  --chart-1: 0 74.0157% 50.1961%;
  --chart-2: 0 55.6485% 46.8627%;
  --chart-3: 0 62.5668% 36.6667%;
  --chart-4: 26.0488 90.3084% 44.5098%;
  --chart-5: 22.7848 82.2917% 37.6471%;
  --sidebar: 0 0% 100%;
  --sidebar-foreground: 0 0% 10.1961%;
  --sidebar-primary: 0 55.6485% 46.8627%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 0 0% 100%;
  --sidebar-accent-foreground: 0 62.5668% 36.6667%;
  --sidebar-border: 0 0% 100%;
  --sidebar-ring: 0 55.6485% 46.8627%;
  --font-sans: Poppins, sans-serif;
  --font-serif: Libre Baskerville, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.375rem;
  --shadow-2xs: 1px 1px 16px -2px hsl(0 63.6364% 21.5686% / 0.06);
  --shadow-xs: 1px 1px 16px -2px hsl(0 63.6364% 21.5686% / 0.06);
  --shadow-sm:
    1px 1px 16px -2px hsl(0 63.6364% 21.5686% / 0.12),
    1px 1px 2px -3px hsl(0 63.6364% 21.5686% / 0.12);
  --shadow:
    1px 1px 16px -2px hsl(0 63.6364% 21.5686% / 0.12),
    1px 1px 2px -3px hsl(0 63.6364% 21.5686% / 0.12);
  --shadow-md:
    1px 1px 16px -2px hsl(0 63.6364% 21.5686% / 0.12),
    1px 2px 4px -3px hsl(0 63.6364% 21.5686% / 0.12);
  --shadow-lg:
    1px 1px 16px -2px hsl(0 63.6364% 21.5686% / 0.12),
    1px 4px 6px -3px hsl(0 63.6364% 21.5686% / 0.12);
  --shadow-xl:
    1px 1px 16px -2px hsl(0 63.6364% 21.5686% / 0.12),
    1px 8px 10px -3px hsl(0 63.6364% 21.5686% / 0.12);
  --shadow-2xl: 1px 1px 16px -2px hsl(0 63.6364% 21.5686% / 0.3);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: 20 9.6774% 12.1569%;
  --foreground: 0 0% 100%;
  --card: 10 6.5217% 18.0392%;
  --card-foreground: 0 0% 100%;
  --popover: 10 6.5217% 18.0392%;
  --popover-foreground: 0 0% 100%;
  --primary: 0 74.0157% 50.1961%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 69.6429% 43.9216%;
  --secondary-foreground: 0 0% 100%;
  --muted: 10 6.5217% 18.0392%;
  --muted-foreground: 0 0% 99.6078%;
  --accent: 26.0488 90.3084% 44.5098%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 84.3972% 72.3529%;
  --destructive-foreground: 0 0% 100%;
  --border: 30 6.4935% 30.1961%;
  --input: 30 6.4935% 30.1961%;
  --ring: 0 74.0157% 50.1961%;
  --chart-1: 0 89.6104% 84.902%;
  --chart-2: 0 84.3972% 72.3529%;
  --chart-3: 0 72.1393% 60.5882%;
  --chart-4: 43.125 96.3855% 67.451%;
  --chart-5: 37.861 92.1182% 60.1961%;
  --sidebar: 20 9.6774% 12.1569%;
  --sidebar-foreground: 0 0% 100%;
  --sidebar-primary: 0 74.0157% 50.1961%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 26.0488 90.3084% 44.5098%;
  --sidebar-accent-foreground: 0 0% 100%;
  --sidebar-border: 30 6.4935% 30.1961%;
  --sidebar-ring: 0 74.0157% 50.1961%;
  --font-sans: Poppins, sans-serif;
  --font-serif: Libre Baskerville, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.375rem;
  --shadow-2xs: 1px 1px 16px -2px hsl(0 63.6364% 21.5686% / 0.06);
  --shadow-xs: 1px 1px 16px -2px hsl(0 63.6364% 21.5686% / 0.06);
  --shadow-sm:
    1px 1px 16px -2px hsl(0 63.6364% 21.5686% / 0.12),
    1px 1px 2px -3px hsl(0 63.6364% 21.5686% / 0.12);
  --shadow:
    1px 1px 16px -2px hsl(0 63.6364% 21.5686% / 0.12),
    1px 1px 2px -3px hsl(0 63.6364% 21.5686% / 0.12);
  --shadow-md:
    1px 1px 16px -2px hsl(0 63.6364% 21.5686% / 0.12),
    1px 2px 4px -3px hsl(0 63.6364% 21.5686% / 0.12);
  --shadow-lg:
    1px 1px 16px -2px hsl(0 63.6364% 21.5686% / 0.12),
    1px 4px 6px -3px hsl(0 63.6364% 21.5686% / 0.12);
  --shadow-xl:
    1px 1px 16px -2px hsl(0 63.6364% 21.5686% / 0.12),
    1px 8px 10px -3px hsl(0 63.6364% 21.5686% / 0.12);
  --shadow-2xl: 1px 1px 16px -2px hsl(0 63.6364% 21.5686% / 0.3);
}

body {
  @apply dark:text-neutral-50 dark:bg-neutral-950 text-neutral-950 bg-neutral-50;
}
