---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import GistList from "../components/GistList.astro";
---

<BaseLayout
  title="Gists"
  description="Gists are snippets of thoughts expended upon in a couple of paragraphs which I thought might be worth sharing with others."
>
  <Nav />
  <main class="max-w-4xl mx-auto pb-4 pt-8 px-4">
    <h1 class="text-2xl font-bold tracking-tight mb-2">Luka's Gists</h1>
    <p class="font-light text-gray-500 mb-4 italic">
      Gists are snippets of thoughts expended upon in a couple of paragraphs
      which I thought might be worth sharing with others.
    </p>
    <GistList />
  </main>
</BaseLayout>
