---
import { Icon } from "astro-icon/components";
import { linkedIn, twitter, github } from "@/data/socials";
import { ModeToggle } from "@/components/ModeToggle.tsx";

const socials = [
  linkedIn,
  twitter,
  github,
];
---

<footer
  class="absolute bottom-0 left-0 right-0 w-full border-t border-neutral-200 py-6 sm:py-10 dark:border-neutral-800"
>
  <div
    class="flex flex-col sm:items-start justify-between items-center gap-3 sm:gap-6 sm:flex-row max-w-4xl mx-auto text-sm pl-3 pr-4"
  >
    <div class="flex items-center gap-x-1">
      <Icon name="logo-light" height="24" width="24" className="h-6 w-6 mb-0.5" />
      <span class="text-muted-foreground/95 dark:text-muted-foreground/60">&copy; Luka Košćak {new Date().getFullYear()}</span>
    </div>
    <div class="flex items-center gap-4 text-muted-foreground/95 dark:text-muted-foreground/60">
      {
        socials.map((s) => (
          <a
            href={s.href}
            target="_blank"
            rel="noreferrer"
            aria-label={s.name}
            class="opacity-80 transition hover:opacity-100 text-inherit"
          >
            <s.svg class="h-5 w-5" width="20" height="20" />
          </a>
        ))
      }
      <ModeToggle className="size-4 text-muted-foreground/95 dark:text-muted-foreground/40 p-2 dark:-mb-1" client:idle />
    </div>
  </div>
</footer>
