---
import { Icon } from "astro-icon/components";

const navData = [
  { name: "Gists", path: "/gists" },
  { name: "Glossary", path: "/glossary" },
];
---

<nav aria-label="Primary" class="w-full shadow-xl shadow-primary/10">
  <div
    class="flex justify-between items-center w-full max-w-4xl mx-auto py-1.5 dark:pt-1 dark:pb-2 pl-2 pr-4"
  >
    <a href="/" class="logomark" aria-label="Go home">
      <Icon name="logo-light" height="40" width="40" />
    </a>
    <ul class="flex items-center gap-4 text-sm">
      {
        navData.map((item) => (
          <a
            class="mt-1 dark:mt-0.5 text-muted-foreground/60 hover:no-underline"
            href={item.path}
          >
            {item.name}
          </a>
        ))
      }
    </ul>
  </div>
</nav>
