---
import { getCollection, render } from 'astro:content';
import gistsMarkdownComponents from './_components.jsx'
import Layout from '../../layouts/Layout.astro';
import Nav from '../../components/Nav.astro';

export async function getStaticPaths() {
  const gists = await getCollection('gists');
  return gists.map(gist => ({
    params: { id: gist.id },
    props: { gist },
  }));
}

interface Props {
  gist: {
    data: {
      title: string;
      date: Date;
    }
  }
}

const { gist } = Astro.props;
const { Content, components } = await render(gist);
---
<Layout title={gist.data.title}>
  <Nav />
  <main class="max-w-[70ch] mx-auto py-4 px-4">
    <h1 class="text-3xl font-bold tracking-tight">{gist.data.title}</h1>
    <p class="text-lg font-medium text-gray-500">{gist.data.date.toDateString()}</p>
    <Content components={{ ...gistsMarkdownComponents, ...components }} />
  </main>
</Layout>
